[Unit]
Description=phone configuration change watcher service
PartOf=patientx.target
After=gwn-webkit-overlay.service
Before=gwn-phone.service
ConditionPathExists=|/run/gwn-device/C73
ConditionPathExists=|/run/gwn-device/C43
ConditionPathExists=|/run/gwn-device/LS1853

[Service]
Type=simple
ExecStart=/usr/bin/gwn-phone-conf-watch
EnvironmentFile=-/etc/default/gwn
Restart=always

[Install]
WantedBy=patientx.target
RequiredBy=gwn-phone.service
