[Unit]
Description=liblinphone based sip phone service
PartOf=patientx.target
After=gwn-phone-conf-watch.service
BindsTo=gwn-phone-conf-watch.service
After=gwn-audio-manager.service
Requires=gwn-audio-manager.service
After=gwn-display-control.service
Requires=gwn-display-control.service
Before=gwn-phone-ui.service
Wants=gwn-rdp.service
After=gwn-webkit-overlay.service
Requires=gwn-webkit-overlay.service
ConditionPathExists=|/run/gwn-device/C73
ConditionPathExists=|/run/gwn-device/C43

[Service]
Type=dbus
BusName=com.getwellnetwork.plc.gwnphone1
Environment=PULSE_SINK=thirdparty
ExecStart=/usr/bin/gwn-phone
EnvironmentFile=-/etc/default/gwn
EnvironmentFile=-/etc/default/gwn-phone
Restart=on-failure

[Install]
WantedBy=patientx.target
