Source: gwn-phone
Section: python
Priority: optional
Maintainer: GetWellNetwork <plc-dev@getwellnetwork.com>
Build-Depends:
 debhelper (>=9),
 dh-python,
 python-all,
 python-pytest,
 python-setuptools,
Standards-Version: 3.9.7
X-Python-Version: >= 2.7

Package: gwn-phone
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 dbus,
 python-dbus,
 python-gi,
 python-systemd,
 gwn-create-users,
 gwn,
 gwn-helpers,
 gwn-conf-system,
Description: liblinphone based sip phone
 liblinphone based sip phone service with python-tk front end.
